/** --------------------------------------------------------------
 * Blog
 */
.blog-list {
    margin-top: @magicNumber * 2;
    
    h1 {
        .font-size(@fontSizeH2);
        border-bottom: 1px solid #ccc;
    }
    
    .meta-header {
        .font-size(@fontSizeSmall);
        font-style: italic;
        color: #666;
    }
    
    .blog-list-item {
        margin-bottom: @magicNumber * 2;
    }
}
