/** 
 * Structure for regions, rows and columns.
 *
 */


/** ==============================================================
 * Base
 */
html {
    overflow-y: scroll;  // Always show scrollbar to avoid flickr
}

body {
    margin: 0;
    padding: 0;
}


/*
.wrap-all {
    //.showGrid(1100px);
}

.outer-wrap {
    
}

.inner-wrap {
    .container();
    //max-width: 1100px;
}

.row {
    .row();
}
*/



/** ==============================================================
 * Header 
 */
/*
.site-header {

}*/



/** --------------------------------------------------------------
 * Navbar(s)
 */
/*
.navbar1 {
    #vgrid .column(@columns);
}

.navbar2 {

}
*/


/** --------------------------------------------------------------
 * Breadcrumb
 */
.breadcrumb-wrap {
    #vgrid .column(@columns);
}



/** --------------------------------------------------------------
 * Flash area
 */
.flash-wrap {
    #vgrid .column(@columns);
}



/** --------------------------------------------------------------
* Columns above and below main
*/
#vgrid .columns-above,
#vgrid .columns-below {

}



/** --------------------------------------------------------------
 * General column elements.
 */
#vgrid .columns {
    //.clearfix();
    //overflow: auto;
}

.col2 {
    #vgrid .column(@columns / 2);
}

.col3 {
    #vgrid .column(@columns / 3);
}

.col4 {
    #vgrid .column(@columns / 4);
}

#vgrid .column {
    height: 100%;
}

.columns {
    .clearfix();
}



/** ==============================================================
 * The main content area.
 *
 */
/*
.outer-wrap-main {

}

.inner-wrap-main {

}*/

.main {
    #vgrid .column(@columns * 3 / 4 - 2);
    #vgrid .push(2);

    &.has-sidebar-left {
        #vgrid .column(@columns * 3 / 4 - 2);
        #vgrid .push(1);
    }

    &.has-sidebar-right {
        #vgrid .column(@columns * 3 / 4 - 2);
        #vgrid .push(0);
    }

    &.has-sidebar-left.has-sidebar-right {
        #vgrid .column(@columns * 2 / 4 + 2);
        #vgrid .push(0);
    }
}

.sidebar-right,
.sidebar-left {
    #vgrid .column(@columns / 4 + 1);
}

.sidebar-right {
    #vgrid .push(1);
}

@media screen and (max-width: 650px) {

    .main {
        min-height: initial;
        
        #vgrid .column(@columns);
        #vgrid .push(0);

        &.has-sidebar-left {
            #vgrid .column(@columns);
            #vgrid .push(0);
        }

        &.has-sidebar-right {
            #vgrid .column(@columns);
            #vgrid .push(0);
        }

        &.has-sidebar-left.has-sidebar-right {
            #vgrid .column(@columns);
            #vgrid .push(0);
        }
    }

    .sidebar-right,
    .sidebar-left {
        display: none;
    }

    .col3 {
        #vgrid .column(@columns);
    }

    .col4 {
        #vgrid .column(@columns / 2);
    }
}



/** ==============================================================
 * The footer area.
 *
 */
.site-footer {
    #vgrid .column(@columns);
}



/** --------------------------------------------------------------
 * The footer column area.
 */
.footer-column-wrapper {
    .clearfix();
}

.footer-column {
    #vgrid .column(@columns / 3);
}

.footer-column,
.footer-column-x {
    height: 100%;
}
