/**
 * Example on media queries
 */


 /**
  * For main content.
  */
@media screen and (max-width: 960px) {
    .outer-wrap-header {
        border-top: none;
        margin-bottom: 0;
    }

    .site-logo-text {
        padding-left: 8px;
    }

    .navbar2 {
        //padding-right: 8px;
    }

    .inner-wrap-flash {
        margin-bottom: 0;
    }

    .figure figcaption {
        padding: 0 4px;
        padding-top: 4px;
    }
}



@media screen and (max-width: 768px) {

    .outer-wrap-header {
        border-bottom: none;
    }
    
    .inner-wrap-main {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .main {
        min-height: initial;
        
        .column(@columns);
        .push(0);

        &.has-sidebar-left {
            .column(@columns);
            .push(0);
        }

        &.has-sidebar-right {
            .column(@columns);
            .push(0);
        }

        &.has-sidebar-left.has-sidebar-right {
            .column(@columns);
            .push(0);
        }
    }

    .sidebar-right,
    .sidebar-left {
        display: none;
    }

    .col3 {
        .column(@columns);
    }

    .col4 {
        .column(@columns / 2);
    }

    .footer-column-wrapper,
    .footer-column-x {
        padding-right: 0;
    }

    .footer-column {
        .column(@columns);
    }

    .footer-column-x {
        h4 {
            border-bottom: 1px solid #999;
        };
    }

    .footer-column-1,
    .footer-column-2 {
        border-right: none;
    }

    .footer-column-2,
    .footer-column-3 {
        padding-left: 0;
    }
    
    .fa-4x {
        font-size: 2em;
    }
}



@media screen and (max-width: 680px) {
    // Swap header size when menu is small
    .site-logo-text {
        .column(16);
    }

    .navbar2 {
        .column(8);
    }
}



/**
 * Example on media queries
 */
@media screen and (max-width: 680px) {
    .rm-small {
        display: block;
    }
    
    .rm-desktop {
        display: none;
    }
}

@media screen and (min-width: 680px) {
    .rm-small {
        display: none;
    }
}
