/** --------------------------------------------------------------
 * Next and previous navigation.
 * 
 */

// Next and previous article
.next-previous {
    .clearfix();
    margin-bottom: @magicNumber;

    .next,
    .previous {
        width: 50%;
    }
    
    .next {
        float: right;
        text-align: right;
    }
}

// Next and previous with centered content
.blog-toc-next-prev-page {
    .clearfix();
    margin-bottom: @magicNumber;

    .next,
    .previous,
    .center {
        width: 33%;
    }

    .previous {
        float: left;
    }

    .next {
        float: right;
        text-align: right;
    }

    .center {
        float: right;
        text-align: center;
    }
}
