/** 
 * Structure for regions in theme template file and main view files.
 *
 */


/** ==============================================================
 * Base
 */
html {
    .alwaysShowScrollbar();
}

body {
    margin: 0;
    padding: 0;
}

.wrap-all {

}



/** ==============================================================
 * Header 
 */
.outer-wrap-header {

}

.inner-wrap-header {
    .wrap();
}

.site-header {
    //.column(@columns);
}



/** --------------------------------------------------------------
 * Navbar(s)
 */
.outer-wrap-navbar {

}

.inner-wrap-navbar {
  .wrap();
}

.navbar1 {
    .column(@columns);
}

.navbar2 {

}



/** --------------------------------------------------------------
 * Breadcrumb
 */
 .inner-wrap-breadcrumb {
     .wrap();
 }

.breadcrumb {

}



/** --------------------------------------------------------------
 * Flash area
 */
.inner-wrap-flash {
    .wrap();
}



/** --------------------------------------------------------------
* Columns above and below main
*/
.inner-wrap-columns-above,
.inner-wrap-columns-below {
    .wrap();
}



/** --------------------------------------------------------------
 * General column elements.
 */
.columns {
    .clearfix();
}

.col2 {
    .column(@columns / 2);
}

.col3 {
    .column(@columns / 3);
}

.col4 {
    .column(@columns / 4);
}

.column {
    height: 100%;
}



/** ==============================================================
 * The main content area.
 *
 */
.outer-wrap-main {

}

.inner-wrap-main {
    .wrap();
}

.main {
    .column(@columns * 3 / 4 - 2);
    .push(2);

    &.has-sidebar-left {
        .column(@columns * 3 / 4 - 2);
        .push(1);
    }

    &.has-sidebar-right {
        .column(@columns * 3 / 4 - 2);
        .push(0);
    }

    &.has-sidebar-left.has-sidebar-right {
        .column(@columns * 2 / 4 + 2);
        .push(0);
    }
}

.sidebar-right,
.sidebar-left {
    .column(@columns / 4 + 1);
}

.sidebar-right {
    .push(1);
}



/** ==============================================================
 * The footer area.
 *
 */
.outer-wrap-footer {
}

.inner-wrap-footer {
    .wrap();
}

.site-footer {
    .column(@columns);
}



/** --------------------------------------------------------------
 * The footer column area.
 */
.footer-column-wrapper {
    .clearfix();
}

.footer-column {
    .column(@columns / 3);
}

.footer-column,
.footer-column-x {
    height: 100%;
}
