/** 
 * Structure for regions in theme template file and main view files.
 *
 */


/** ==============================================================
 * Base
 */
html {
    .alwaysShowScrollbar();
}

body {
    margin: 0;
    padding: 0;
}

.wrap-all {

}



/** ==============================================================
 * Header 
 */
.outer-wrap-header {

}

.inner-wrap-header {
    .wrap();
}

.site-header {
    //.column(@columns);
}



/** --------------------------------------------------------------
 * Navbar(s)
 */
.outer-wrap-navbar {

}

.inner-wrap-navbar {
  .wrap();
}

.navbar1 {
    .column(@columns);
}

.navbar2 {

}



/** --------------------------------------------------------------
 * Breadcrumb
 */
.breadcrumb {

}



/** ==============================================================
 * The main content area.
 *
 */
.outer-wrap-main {

}

.inner-wrap-main {
    .wrap();
}

.main {
    .column(@columns);

    &.has-sidebar {
        .column(@columns * 2 / 3);
    }

    &.sidebar-right&.sidebar-left {
        .column(@columns * 3 / 4);
    }
}

.sidebar-right,
.sidebar-left {
    .column(@columns / 3 - 1);
}

.sidebar-right&.sidebar-left {
    .column(@columns * 1 / 4);
}





/** ==============================================================
 * The footer area.
 *
 */
.outer-wrap-footer {
}

.inner-wrap-footer {
    .wrap();
}

.site-footer {
    .column(@columns);
}



/** --------------------------------------------------------------
 * The footer column area.
 */
.footer-column-wrapper {
    .wrap();
}

.footer-column {
    .column(@columns / 3);
}

.footer-column,
.footer-column-x {
    height: 100%;
}
